*
{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body
{
    min-height: 100vh;
}
.topnav
{
    position: absolute;
    right: 1rem;
    text-align: right;
    float: right;
    color: blue;
    padding: .7rem;
}
.content
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 80%;
    margin: auto;
    padding-top: 5rem;
}
.logo
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#googleLogo
{
    height: 60%;
    width: 60%;
    justify-content: center;
    align-items: center;

}
.searchBar
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#searchBar
{
    width: 50%;
    height: 2rem;
    border: 2px outset rgb(94, 92, 92), rgb(94, 92, 92) ;
    font-family: monospace;
    font-size: large;
}
.buttons
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}    
.scr-btn
{
    background-color: #c5c0bc;
    padding-top: 0;
    padding-bottom: 0%;
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: 400;
    margin: 1rem;
    border: outset  rgb(94, 92, 92);
}
@media only screen and (max-width: 768px) {
.scr-btn{
    font-size: .7em;
    justify-content: space-around;
}
#searchBar{
    width: 80%;
}
}
button:hover
{
    cursor: pointer;
}
#error
{
    width: 75%;
}
#signin:hover
{
cursor: pointer;
}
#adscr:hover
{
    cursor: pointer;
}
.footer
{
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}